$baseColor: #fdfcf6;
$subColor: #bea300;
$keyColor: #14c0c9;
$fontColor: #4c4c4c;


@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Abel';

html {
font-size: 62.5%;
}

@mixin fontsize($size: 24) {
font-size: $size + px;
font-size: ($size / 10) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
.uppercase {
    text-transform: uppercase;
}

.button-contact
{
    font-size: 20px; /* フォントサイズ */
    line-height: 0; /* 行の高さ */

    display: block; /* ブロック要素のように扱う */

    width: 20px; /* 幅 */
    height: 20px; /* 高さ */
    margin: 20px 20px 0 0; /* 要素の外側の余白 */
    padding: 10px; /* 要素の内側の余白 */

    text-align: center; /* テキストの中央寄せ */

    color: #4c4c4c; /* 文字色 */
    border: 2px solid #4c4c4c; /* ボーダー */
    -webkit-border-radius: 4px; /* 角丸 */
       -moz-border-radius: 4px;
            border-radius: 4px;
}
